<header>
    <div class="botones_prev_next">
        <span class="btn_prev"><img src="../../../assets/img/prev.svg" alt=""></span>
        <span class="btn_next"><img src="../../../assets/img/next.svg" alt=""></span>
    </div>

    <div class="suscribcion">
        <div class="mejora_cuenta">
            <button>MEJORAR TU CUENTA</button>
        </div>
        <div class="perfil">
            <span class="circulo"><img src="../../../assets/img/user.svg" alt=""></span>
            <span class="nombre">Usuario</span>
            <span><img src="../../../assets/img/salir.svg" alt=""></span>
        </div>
    </div>
</header>