.button {
    background-color: #de0000;
    border-radius: 2px;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px !important;
<<<<<<< HEAD
    font-family: "verdana" !important;
=======
>>>>>>> 6b463b6d35173b5eb90d6d8379e1d0e111ca2f73
    -webkit-font-smoothing: antialiased;
    height: 38px;
    line-height: 36px;
    margin: 0;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}