<div class="menu">
    <a routerLink="/" class="active"><span><img src="../../../assets/img/home.svg" ></span>Inicio</a>
    <a routerLink="/artist/:id"><span><img src="../../../assets/img/search.svg" ></span>Buscar</a>
    <a routerLink="/artist"><span><img src="../../../assets/img/library.svg" ></span>Tu artistas</a> <br>
    <a routerLink="/artist/create"><span><img src="../../../assets/img/add.svg"></span>Crear artista</a>
    <a routerLink="/"><span><img src="../../../assets/img/heart.svg"></span>Canciones que te gustan</a>
</div>
