<div class="menu">
    <a class="active" href="#"><span><img src="../../../assets/img/home.svg" alt=""></span>Inicio</a>
    <a href="#"><span><img src="../../../assets/img/search.svg" alt=""></span>Buscar</a>
    <a href="#"><span><img src="../../../assets/img/library.svg" alt=""></span>Tu biblioteca</a> <br>
    <a href="#"><span><img src="../../../assets/img/add.svg" alt=""></span>Crear lista</a>
    <a href="#"><span><img src="../../../assets/img/heart.svg" alt=""></span>Canciones que te gustan</a>
</div>
