<div class="menu">
    <a routerLink="/" class="active"><span><img src="../../../assets/img/home.svg" alt=""></span>Inicio</a>
    <a routerLink="/artistas/:id"><span><img src="../../../assets/img/search.svg" alt=""></span>Buscar</a>
    <a routerLink="/artistas"><span><img src="../../../assets/img/library.svg" alt=""></span>Tu artistas</a> <br>
    <a routerLink="/artistas/add"><span><img src="../../../assets/img/add.svg" alt=""></span>Crear artista</a>
    <a routerLink="#"><span><img src="../../../assets/img/heart.svg" alt=""></span>Canciones que te gustan</a>
</div>
