a {
    text-decoration: none;
    padding: 10px 1rem;
    color: #c5c5c5;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a span {
    margin-right: 8px;
}

a.active {
    background-color: #282828;
    border-radius: 5px;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}